/tmp/*
/VIVADO_PROJECT/*
/vivado**.jou
/vivado**.log
/vivado**.str
/APPLICATION/demo/build
/APPLICATION/toolchain-bare
/APPLICATION/docker_scripts/docker.tar
/RUN/backups/*
/DVCon_SoC_SRC/MEMORY_IP/rom_32KB_axi/backups/*
/GEN_BIT_OUT/*.vcd
